@font-face {
  font-family: 'HolbertonSchoolIcon';
  src: url('../fonts/holberton_school-icon.eot');
  src: url('../fonts/holberton_school-icon.eot?#iefix') format('embedded-opentype'),
       url('../fonts/holberton_school-icon.woff2') format('woff2'),
       url('../fonts/holberton_school-icon.woff') format('woff'),
       url('../fonts/holberton_school-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

